<div class='main'>
  <div class="cafe-form">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
  </div>
  <div class="rank-container">
    <div class='item-contents'>
      <h2 class='title'>Pick Up</h2>
      <div class="subtitle" >
        top access reviews
      </div>
    </div>
    
  </div>
</div> 