.menu{
  display:flex;
  margin-top:70px;
}
.menu-d{
  margin-left:50px;
  margin-top:45px;
}
.me{
  width:25vw;
  
}
.mena{
  text-decoration:none;
  color:black;
}

.price{
  margin-left:150px;
}
.mepr{
  display:flex;
  margin-bottom:10px;
  font-size:20px;
}
.drink{
  text-align:center;
  font-size:21px;
}
.na{
  height:25px;
  font-size:25px;
  font-weight: 700;
  margin-bottom:20px;
}
.item-i{
  width: 45vh;
  height: 33vh;
  margin-bottom:30px;
}





.month-menu{
  margin-top:60px;
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
  font-size:20px;
  
}
.month-food{
  display:flex;
  flex-direction: column;
}
.month-img{
  width:400px;
  height:250px;
}

.month-menu>.mep{
  text-align:center;
  margin-bottom:55px;
}
.favorite h1{
  font-weight: lighter;
  text-align:center;
}

