li{
  list-style: none;
}
  
  .swiper-wrapper{
    width:100vw;
  }
  .swiper-pagination{
    bottom:40px;
    margin-bottom:30px;
  }
  body{
    width:100vw;
  }
  main{
    width:100%;
  }
  .a{
    width:100vw;
    height:610px;
    position:relative;
  }
  .lists{
    display:flex;
    justify-content:space-around;
  }
  .list{
    text-decoration: none;
    font-size:20px;
    color:black;
  }
  .top-icon{
    margin-left:15px;
    height:70px;
  }
  .item-contents{
    text-align:center;
  }
  .name{
    margin-left:80px;
    margin-top:60px;
    position:absolute;
    color:white;
    z-index: 10;
    
  }
  h2{
    font-weight: lighter;
  }
  .cafe-name{
    display:flex;
  }
  .log{
    margin-left:55vw;
    margin-top:30px;
    text-decoration: none;
    font-size:20px;
  }
  .item-img {
    width: 45vh;
    height: 33vh;
   
  
  }
  .febrary-icon{
    width: 45vh;
    height: 33vh;

  }
  .item-contents{
    margin-top:50px;
  }
  .item-lists{
    display:flex;
    justify-content: space-around;
    margin-top:60px;
  }
  .item-info{
    height:60px;
    font-size:2vw;
    line-height: 60px;
  }
  .info{
    display:flex;
    justify-content: center;
  }
  .item-price{
    height:60px;
    margin-left:40px;
    line-height: 60px;
  }
  .link{
    text-decoration: none;
    color:black;
  }




  .item-btn {
    width: 80px;
    height:55px;
    background: rgba(27, 41, 189, 0.5);
    text-align: center;
    border-radius: 10%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    z-index: 10;
    padding: 10px ;
    text-decoration: none;
  }
  .item-btn-text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  .swiper-button-prev ,.swiper-button-next{
    color:grey;

  }


  .footer{
    width:100vw;
    color:black;
    text-align:center;
  }
 
  .footer-link{
    text-decoration: none;
    color:black;
    font-size:1.5vw;
  }
  